<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
      <ul>
        <li class="nav-item li-inline"><a href="/">Home</a></li>
        <li class="nav-item li-inline"><a href="/dashboard">Dashboard</a></li>
        <li class="nav-item li-inline"><a href="/login">Login</a></li>
        <li class="nav-item li-inline"><a href="">Logout</a></li>
      </ul>
      
      {{!-- <a class="nav-item" href="sfs">Home</a>
      <a class="nav-item" href="sfsf">Dashboard</a>
      <a class="nav-item" href="sfsf">Login</a>
      <a class="nav-item" href="sfsfsf">Logout</a> --}}
    </nav>
  <header class="hero">
    <h1 class="app-title"><a herf="">Text Blog</a></h1>
  </header>


  <main>
  {{{body}}}
  </main>
</body>

<script src="/js/logout.js"></script>

</html>