<ul class="list-group">
    <li class="list-item"><a href="/edit/1">How Crazy</a></li>
    <li class="list-item"><a href="/edit/1">How Crazy</a></li>
    <li class="list-item"><a href="/edit/1">How Crazy</a></li>
    <li class="list-item"><a href="/edit/1">How Crazy</a></li>
</ul>

<footer class = "footer flex-row justify-center">
    <a href="/dashboard/new" >+ New Post</a>
</footer>