{{!-- {{#each posts as |post|}} --}}
<div class="card">
    <h2 class="card-header">How Crazy by toby123</h2>
    <P class="card-body">Words, Words, wrods. Holy crap this assignment is nuts beyond belief.</P>
</div>
<div class="card">
    <h2 class="card-header">How Crazy by toby123</h2>
    <P class="card-body">Words, Words, wrods. Holy crap this assignment is nuts beyond belief.</P>
</div>
<div class="card">
    <h2 class="card-header">How Crazy by toby123</h2>
    <P class="card-body">Words, Words, wrods. Holy crap this assignment is nuts beyond belief.</P>
</div>
{{!-- {{/each}} --}}